	$font_size: 0.2rem;
	body {
		font-size: 0;
		margin: 0;
		padding: 0;
	}
	*{
	    padding: 0;
	    margin: 0;
	}
	a {
		text-decoration: none;
	}
	
	#container {
		width: 5rem;
        height: 9.6rem;
        overflow: hidden;
		background: url(../assets/img/blue_back.png);
		background-size: 100% 100%;
	}
	
	#tittle {
		text-align: center;
		height: 0.5rem;
		line-height: 0.5rem;
		font-size: $font_size;
		color: white;
	}
	
	#msg_div {
		width: 100%;
		text-align: center;
		font-size: $font_size;
		padding: 0 auto;
	}
	

	#addBtn {
	    width: 1.68rem;
        height: 0.45rem;
        line-height: 0.45rem;
        margin-top: 0.05rem;
        background-image: url(../assets/img/btn_bg.png);
        background-size: 100% 100%;
		float: right;
		font-size: $font_size;

	}
	#addBtn a {
		color: white;
	}
	#appointContainer {
        width: 100%;
        height: 8.22rem;
        margin-top:0.5rem;
//      border: 0.01rem solid pink;
        overflow: scroll;
    }
	.show_ul {
		width:4.6rem;
		border: 0.02rem solid lightgray ;
		border-radius: 5px;
		text-align: left;
		margin: 0 auto;
		margin-top: 0.1rem;
	}
	
	.show_li{
	    height: 0.4rem;
	    line-height: 0.4rem;
//	    border-bottom: 0.01rem solid lightgray;
	    
	}
	.show_span {
		font-size: $font_size;
		color: black;
		display: inline-block;
		text-indent: 0.2rem;
		/*margin: 0 auto;
		padding: 0 auto;*/
	}
	
	#viewBtn a{
	    color: blue;
	}
